
				<!-- Footer -->
                <section id="footer"> 
                    <div class="inner">                     
                        <ul class="copyright">
                            <li class="icon solid fa-home">
                                Morgan State University Robotics<br />
                                Baltimore, MD 21251
                            </li>
                            <li class="icon solid fa-envelope"><a href="#">  information@untitled.tld</a></li>
                            <li class="icon brands fa-youtube"><a href="#">  youtube.com/untitled-tld</a></li>
                            <li class="icon brands fa-instagram"><a href="#">  instagram.com/untitled-tld</a></li>
                    </div>
                </section>

    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        
        <!-- <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script> -->